################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GoldDigger/GoldDigger.vcxproj.user
/x64/Debug/GoldDigger.pdb
/x64/Debug/GoldDigger.exe
/Debug/GoldDigger.exe
/Debug/GoldDigger.pdb
/.vs
/GoldDigger/Debug
