################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GoldDigger
/GoldDigger/GoldDigger.vcxproj.user
/x64/Debug/GoldDigger.pdb
/x64/Debug/GoldDigger.exe
/GoldDigger/x64/Debug
